@import '../../../styles/variables.scss';

.picked-out-section {

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr)); /* see notes below */
        grid-gap: 1.3rem;
        margin-top: 2rem;

		  @media only screen and (max-width: $bp-small) {
			grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
        }
    }

}
